<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assignment2.poly.eduvn.assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".BaoCao"
            android:label="@string/baocao" />
        <activity
            android:name=".Thu"
            android:label="@string/thu" />
        <activity
            android:name=".Chi"
            android:label="@string/chi" />
        <activity
            android:name=".DuDinh"
            android:label="@string/dudinh" />
        <activity android:name=".GiaoDien">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityFThuChi">

        </activity>
        <activity
            android:name=".FragmentThuChi"
            android:label="Ghi chép">

        </activity>
    </application>

</manifest>